<header class="navBar">
  <%= link_to(t('Retour'), services_path, :class => 'navigation') %>
  <h1>Localisation</h1>
</header>
<%= simple_form_for(@request, url: request_path(@request.service)) do |form| %>
  <div class="map_zone">
    <button id="enlarge" type="button"><span aria-hidden="true" data-icon="&#xe000;"></span></button>
    <button id="minimize" type="button"><span aria-hidden="true" data-icon="&#xe001;"></span></button>
    <div id="map_canvas"></div>
  </div>
  <p id="localisation"></p>
  <div class="service-attributes">
    <div class="navBar">
      <h2><%= t('requests.information') %></h2>
    </div>    
    <fieldset>
      <legend class="visuallyhidden"><%= t('requests.information') %></legend>
      <%= form.input :description, :placeholder => t('requests.description') %>
      <% @request.service.ordered_attrs.each do |code, attr| %>
        <%= form.input attr.code.to_sym,
          :label => attr.description,
          :placeholder => attr.description,
          :as => "open311_#{attr.datatype}",
          :collection => attr.values,
          :label_method => lambda { |v| v['name'] },
          :value_method => lambda { |v| v['key'] },
          :required => attr.required,
          :input_html => { value: nil } %>
      <% end %>
    </fieldset>
  </div>
  <div class="navBar spacing">
    <h2><%= t('requests.contact') %></h2>
  </div>
  <fieldset>
    <legend class="visuallyhidden"><%= t('requests.contact') %></legend>
    <%= form.input :email, :placeholder => t('requests.email'), :hint => 'Pour obtenir un retour sur votre demande, entrez votre courriel' %>
  </fieldset>
  <%= form.submit t('requests.submit'), :id => 'request_submit', :class => 'navBar' %>
<% end %>
