<header class="navBar">
  <h1>Localisation</h1>
</header>
<%= simple_form_for(@request, url: request_path(@request.service)) do |form| %>
  <div class="map_zone">
    <button id="enlarge" type="button"><span aria-hidden="true" data-icon="&#xe000;"></span></button>
    <button id="minimize" type="button"><span aria-hidden="true" data-icon="&#xe001;"></span></button>
    <div id="map_canvas"></div>
  </div>
  <p id="localisation"></p>
  <div class="service-attributes">
    <div class="navBar">
      <h2><%= t('requests.information') %></h2>
    </div>    
    <fieldset>
      <legend class="visuallyhidden"><%= t('requests.information') %></legend>
      <% @request.service.ordered_attrs.each do |code, attr| %>
        <%= form.input attr.code.to_sym,
          :label => attr.description,
          :placeholder => attr.description,
          :as => "open311_#{attr.datatype}",
          :collection => attr.values,
          :label_method => lambda { |v| v['name'] },
          :value_method => lambda { |v| v['key'] },
          :required => attr.required,
          :input_html => { value: nil } %>
      <% end %>
    </fieldset>
  </div>
  <div class="navBar">
    <h2><%= t('requests.contact') %></h2>
  </div>
  <fieldset>
    <legend class="visuallyhidden"><%= t('requests.contact') %></legend>
    <%= form.input :first_name, :placeholder => t('requests.firstname') %>
    <%= form.input :last_name, :placeholder => t('requests.lastname') %>
    <%= form.input :email, :placeholder => t('requests.email') %>
    <%= form.input :phone, :placeholder => t('requests.phone') %>
  </fieldset>
  <div class="formSeparator">
    <h2><%= t('requests.membership') %></h2>
    <input id="rbyes" name="create" value="yes" type="radio">
    <label for="radio1" class="radio"><%= t('requests.yes') %></label>
    <input id="rbno" name="create" value="no" type="radio" checked="checked">
    <label for="radio2" class="radio"><%= t('requests.no') %></label>
  </div>
  <fieldset id="register">
    <%= form.input :password, :placeholder => t('requests.password') %>
  </fieldset>
  <%= form.input :lat, as: :hidden %>
  <%= form.input :lon, as: :hidden %>
  <%= form.submit t('requests.submit'), :id => 'request_submit', :class => 'navBar' %>
<% end %>
