<div class="wrapper">
    <div id="st-accordion" class="st-accordion">
        <ul>
          <% @districts.each do |district| %>
            <li>
            <%= link_to (district.name + '<span class="st-arrow">Open or Close</span>').html_safe, districts_path(district) %>
            <% services = district.all_services %>
            <span><%= total_district_score(district, services) %></span>
              <div class="st-content">
                <ul>
                  <% services.each do |service| %>
                    <li class="<%= service_css_class(service) %>"><%= service_name(service) %>
                      <span><%= service_score(district, service) %></span>
                    </li>
                  <% end %>
                </ul>
            </div>
            </li>
          <% end %>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function() {
    
        $('#st-accordion').accordion({
            oneOpenedItem   : true
        });
        
    });
</script>
